<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IPChanger.Properties.Settings.PapDBConnectionString"
            connectionString="Data Source=GIG001P10226\ASKARI;Initial Catalog=PapDB;Persist Security Info=True;User ID=sa;Password=Admin120"
            providerName="System.Data.SqlClient" />
        <add name="IPChanger.Properties.Settings.PersonnelGSystemConnectionString"
            connectionString="Data Source=192.168.87.200;Initial Catalog=PersonnelGSystem;Persist Security Info=True;User ID=hrsystem;Password=BlueDi@mond"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>